# Lines starting with '#' are considered comments.
# Ignore the bin directory
bin/*.*
!bin/*-config.txt
bin/lib/
bin/webmonitormaster.js
bin/log.txt
!bin/updates/db/
refs/
cpp/
obj/
all_objs
src/dinemeter/master/frontend/style.css