# Lines starting with '#' are considered comments.
# Ignore the bin directory
bin/*.*
!bin/*-config.txt
!bin/*.dll
!bin/WinPcap*.exe
!bin/*.meta
!bin/unmetered.txt
!bin/*.nsi
bin/lib/
bin/webmonitormaster.js
bin/log.txt
!bin/updates/db/
refs/
cpp/
cpp-update/
obj/
all_objs
src/dinemeter/master/frontend/style.css